<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/fonts/circular-std/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/libs/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/fonts/fontawesome/css/fontawesome-all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/charts/chartist-bundle/chartist.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/charts/morris-bundle/morris.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/charts/c3charts/c3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/fonts/flag-icon-css/flag-icon.min.css') }}">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center">
                <span class="splash-description">Wow, something wrong!<br><br>Leave in 3 seconds</span>
            </div>
        </div>
    </div>

    <script language="javascript" type="text/javascript">
        setTimeout("javascript:location.href='portfolio.html'", 3000);
    </script>

    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="{{ url_for('static', filename='assets/vendor/jquery/jquery-3.3.1.min.js') }}"></script>
    <!-- bootstap bundle js -->
    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.js') }}"></script>
    <!-- slimscroll js -->
    <script src="{{ url_for('static', filename='assets/vendor/slimscroll/jquery.slimscroll.js') }}"></script>
    <!-- main js -->
    <script src="{{ url_for('static', filename='assets/libs/js/main-js.js') }}"></script>
    <!-- chart chartist js -->
    <script src="{{ url_for('static', filename='assets/vendor/charts/chartist-bundle/chartist.min.js') }}"></script>
    <!-- sparkline js -->
    <script src="{{ url_for('static', filename='assets/vendor/charts/sparkline/jquery.sparkline.js') }}"></script>
    <!-- morris js -->
    <script src="{{ url_for('static', filename='assets/vendor/charts/morris-bundle/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/charts/morris-bundle/morris.js') }}"></script>
    <!-- chart c3 js -->
    <script src="{{ url_for('static', filename='assets/vendor/charts/c3charts/c3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/charts/c3charts/d3-5.4.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/charts/c3charts/C3chartjs.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/js/dashboard-ecommerce.js') }}"></script>
</body>

</html>
